.heading {
  line-height: 1.3;
  font-size: 5rem;
}
* {
  color: #393e46;
}

.main {
  justify-content: space-between;
}

.icons {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.game {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.icons {
  transition: all 0.2s ease;
}
.icons:hover {
  transform: scale(1.09);
  cursor: pointer;
  font-size: 4rem;
  background-color: #915eff;
}

.robotIcon:hover {
  transform: none;
}

.icons:active,
.playBtn:active {
  background-color: #d7bbf5;
  transform: scale(0.95);
}

.playBtn {
  font-weight: 700;
}

.gamesettings {
  transition: height 0.2s ease;
  border: #915eff solid 1px;
}

.msgSec {
  transition: height 0.2s ease;
  border: #915eff dashed 4px;
}

.display {
  -webkit-text-stroke: #f6ff00 0.05px;
  color: #915eff;
}
